.aboutsection2{
    display: flex;
    margin-left: 21%;
    .hist{
        margin-left: -8%;
        
        img{
        border-radius: 10px;
        box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        }
    }
    .his{
        margin-top: 4rem;
        margin-left: 6rem;
        .teer{
            margin-left: 5.5rem;
            margin-bottom: -2.4rem;
            
        }
        h2{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 50px;
        }
        h3{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 35px;
            font-weight: 500;
        }
    }
}