.footer{
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    .leftt{
        
        .logo{
            margin-top: -1.2rem;

        }
        .media{
            margin-top: 1.5rem;
        }
        .content{
            h2{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-weight: 500;
                
            }
        }
        .privacy{
            margin-top: 2.2rem;
            h2{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-weight: 600;

            }
        }

       
        }
        .middl{
            .head{
                h1{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 43px;
                }

            }
            .dataco{
                margin-top: 1.9rem;
            }
            
        }
        .right{
            .heading{
                h1{
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size: 43px;

                }
            }
            .dataco{
                margin-top: 1.9rem;
            }

        }
    }
    .aesehi{
        height: 0.5rem;
        background-color: red;
        width:6.6rem;
        border-radius: 12px;

    }
.ost{
    h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        margin-top: 1rem;
        font-weight: 500;
    }

}
.dnd{
    h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        margin-top: 1rem;
        font-weight: 500;
    }

}
.trd{
    h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        margin-top: 1rem;
        font-weight: 500;
    }

}
.frth{
    h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        margin-top: 1rem;
        font-weight: 500;
    }

}
.fivth{
    h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        margin-top: 1rem;
        font-weight: 500;
    }

}
   
